# Dependințe
node_modules/

# Fișiere de build (când vei compila aplicația)
dist/
dist-ssr/
build/

# Fișiere locale de mediu (unde ții secrete)
.env
.env.local

# Log-uri
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fișiere de sistem (Mac/Windows)
.DS_Store
Thumbs.db